Package: qtxtReader
Version: 20190604
Description: qtxtReader
Section: media
Priority: optional
Maintainer: netwan
Architecture: mipsel
Homepage: https://github.com/guangmingwan/rs97-txtReader
Depends:
Source: https://github.com/guangmingwan/rs97-txtReader
